shamefully-hoist=false
strict-peer-dependencies=true

# Supply-chain protection: don't install packages published less than 7 days ago
minimum-release-age=10080
# Security-fix exemptions (osv-scanner CI blockers)
minimum-release-age-exclude[]=axios
minimum-release-age-exclude[]=protobufjs
minimum-release-age-exclude[]=hono
minimum-release-age-exclude[]=@hono/node-server
minimum-release-age-exclude[]=fast-xml-parser
minimum-release-age-exclude[]=node-forge
minimum-release-age-exclude[]=follow-redirects
minimum-release-age-exclude[]=brace-expansion
minimum-release-age-exclude[]=@tootallnate/once
minimum-release-age-exclude[]=next
minimum-release-age-exclude[]=vite
